/* Asterisks wild card selector to remind us about overide on browser default */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* targets body element */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}
/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px ;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/* the a tags inside the header */
header a {
    text-decoration: none;
    color: inherit;
}
/* h1 tag */
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
/* targets the html with id of menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}
/* targets list objects inside menu */
#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
/* navbar styles with drop down toggled */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}

/* main content */
main {
    background-color: lightblue;
    /* makes main element take up enough space to force footer to bottom of website*/
    flex: 1 0 auto;
    margin-top: 47px;
}
/* footer */
footer {
    background-color: orange;
}
/* supports different screen types */
@media screen and (min-width: 768px) {
    /* header */
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
}